body {
  background-color: #212121;
  color: rgba(white, .9);
  margin: 0;
  font-family: Roboto, sans-serif;
}

$green: #2E7D32; // green 800
$blue: #2196F3; // blue 500

button {
  margin: .5em;
  padding: 1em;
  background-color: transparent;
  border-radius: .5em;
  border: 2px solid $green;
  color: rgba(white, .8);
  $trans: background-color 0.2s ease, color .2s ease;
  transition: transform 0.3s ease-in, $trans;
  cursor: pointer;
  &:hover, &:active {
    transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.4, 1.6), $trans;
    transform: scale(1.2);
    background-color: $green;
    color: black;
    z-index: 1;
  }
  &:focus {
    outline: none;
  }
}

a {
  color: rgba($blue, .9);
}